.animation-leave-from {
    opacity: 1;
    transform: translateY(0);
}
.animation-leave-active {
    will-change: transform;
    transition: all 0.3s ease;
}
.animation-leave-to {
    opacity: 0;
    transform: translateY(20px);
}
.animation-enter-from {
    opacity: 0;
    transform: translateY(20px);
}
.animation-enter-active {
    will-change: transform;
    transition: all 0.3s ease;
}
.animation-enter-to {
    opacity: 1;
    transform: translateY(0);
}

.slide-right-enter-active,
.slide-left-enter-active,
.slide-right-leave-active,
.slide-left-leave-active {
    box-shadow: -20px 0 20px 0px rgba(0, 0, 0, 0.1);
    will-change: transform;
    transition: all .3s ease-out;
    position: absolute;
}

.slide-right-enter-from {
    opacity: 0;
    transform: translateX(-50%);
}
.slide-right-leave-to {
    z-index: 100;
    transform: translateX(102%);
}

.slide-right-leave-from {
    box-shadow: -20px 0 20px 0px rgba(0, 0, 0, 0.1);
}
.slide-left-enter-from {
    z-index: 100;
    transform: translateX(100%);
    box-shadow: -20px 0 20px 0px rgba(0, 0, 0, 0.1);
}
.slide-left-leave-to {
    opacity: 0.4;
    transform: translateX(-50%);
}